body {
    padding: 0;
}

header {
    background-color: #1F2937;
    font-family: 'roboto' sans-serif;
    padding: 0 14%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {    
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text > p {
    margin: 0px;
}

.hero, a, footer {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    padding: 100px 0;
    display: flex;
    align-items: stretch;
    gap: 32px;
}

.hero-image {
    background-color: rgb(115, 120, 129);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    flex: 1;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 4px;
    padding: 8px 36px;
    box-sizing: border-box;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 8px;
}

.content {
    padding: 20px 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.cards {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    flex: 1;
    max-width: 140px;
    height: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    font: 36px light italic #1F2937;
    padding: 120px 20%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote > p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.subtext {
    font-weight: bold;
    font-size: 18px;
}

.sign-up {
    margin: 80px 14%;
    display: flex;
    background-color:#3882F6;
    padding: 40px 10%;
    justify-content: space-between;
    color: #F9FAF8;
    border-radius: 6px;
    align-items: center;
}

h3 {
    margin: 0;
}

.sign-up-message > p {
    margin: 0;
    font-weight: lighter;
}

.sign-up > button {
    border-style: solid;
    border-width: 3px;
}

footer {
    background-color: #1F2937;
    padding: 40px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
